#menu {
    background-color: rgba(37, 116, 102, 0.603); 
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    width: 100%; 
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#menu a {
    float: left;
    font-size: 25px;
    display: block;
    color: white;
    text-align: left;
    padding: 15px;
    text-decoration: none;
}

#menu a:hover {
    background-color: #ddd;
    color: black;
}
 
body {
	background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}




.portfolioSection {
    top: 30px;
    position: relative;
    width: 100%;
}

.contact {
    position: relative;
    width: 100%;
}

.name {
    text-align: left;
    width: 180%;
}

.city {
    text-align: right;
    width: 10%;
}

.country {
    text-align: right;
    width: 10%;
}
 
.email {
    text-align: left;
    width: 50%;
}
.phone {
    text-align: right;
    width: 50%;
}
.summarySection {
    top: 30px;
    position: relative;
    width: 100%;
}

.experienceSection {
    top: 30px;
    position: relative;
    width: 100%;
}


.softSkillsAndToolsSection {
    top: 30px;
    position: relative;
    width: 100%;
}

.workExperienceSection {
    top: 30px;
    position: relative;
    width: 100%;
}

.education {
    top: 30px;
    position: relative;
    width: 100%;
}

.developerPortfolio {
    top: 30px;
    position: relative;
    width: 100%;
}


.footer {
    font-size: 25px;
}


